body {
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.circular-loader {
    height: 190px;
    width: 190px;
    border: 5px solid ghostwhite;
    border-radius: 50%;
    border-top: #000;
    animation: circular-loader 2s linear infinite;
}
@keyframes circular-loader {
    from {
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}
